#atag{
    text-decoration: none;
}
#text{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#roundMe{
    border-radius: 50px;
}
#x_x{
    text-align: center;
}
#x{
    border-radius: 25px;
    background-color: orangered;
    border-color: yellow;
    border-width: 3px;
    padding: 10px;
    font-weight: bolder;
    color: #fff;
}
#pop_up{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    position: absolute;
    top: 0;
}
#pop_up_heading{
    width: 75%;
    height: 100px;
}